@charset "UTF-8";

/*================================================================
access
================================================================*/
.access {
  background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 76%, #F3F3F3 76%, #F3F3F3 100%);
  color: $key-color-white;
  top: 109px;
  position: relative;
  height: 504px;
  width: 100%;
  margin-bottom: 300px;

  @include mq(sm) {
    background: #3E3E3E;
    top: 60px;
    height: auto;
    margin-bottom: 0;
  }

  &__container {
    padding: 120px 40px 0 100px;

    @include mq(sm) {
      padding: 40px 5% 60px;
    }
  }

  &__flexbox {
    display: flex;

    @include mq(sm) {
      display: block;
      position: relative;
    }
  }

  &__box {
    margin-right: 100px;

    @include mq(sm) {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 36px;

    @include mq(sm) {
      font-size: 30px;
    }
  }

  &__address {
    margin-top: 60px;
    font-size: 16px;
    line-height: 24px;

    @include mq(sm) {
      margin-top: 40px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__iframe {
    position: relative;
    width: 100%;
    padding-top: 41%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include mq(sm) {
      position: absolute;
      top: 150px;
    }
  }

  &__button {
    @extend %button-box;
    width: 314px;

    a {
      @extend %button-link;
    }

    @include mq(sm) {
     margin-top: 50%;
     width: 100%;
    }
  }

  &__space {
    position: relative;
    background-color: #F3F3F3;
    top: 120px;
    width: 100%;
    height: 20px;
  }
}
