@charset "UTF-8";

/*================================================================
access
================================================================*/
.access {
  background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 76%, #F3F3F3 76%, #F3F3F3 100%);
  color: $key-color-white;
  top: 109px;
  position: relative;
  height: 504px;
  width: 100%;
  margin-bottom: 300px;

  @include mq(sm) {
    display: none;
    
  }

  &__container {
    padding: 120px 40px 0 100px;
  }

  &__flexbox {
    display: flex;
  }

  &__box {
    margin-right: 100px;
  }

  &__title {
    font-size: 36px;
  }

  &__address {
    margin-top: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  &__iframe {
    position: relative;
    width: 100%;
    padding-top: 41%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    @extend %button-box;
    width: 314px;

    a {
      @extend %button-link;
    }
  }

  &__space {
    position: relative;
    background-color: #F3F3F3;
    top: 120px;
    width: 100%;
    height: 20px;
  }
}
