@charset "UTF-8";

/*================================================================
contact
================================================================*/
.contact {
  background: url(../images/PC/contact-bg.png) center center / cover;
  width: 100%;
  height: auto;
  padding: 60px 160px;

  @include mq(sm) {
    padding: 40px 5%;
    margin-top: 60px;
  }

  &__container {
    max-width: 960px;
    margin: 0 auto;
  }

  &__header {
    background: url(../images/PC/contact1.png)center center / cover;
    border-radius: 12px 12px 0 0;
    color: $key-color-white;
    text-align: center;
    height: 196px;
    padding: 60px 0;

    @include mq(sm) {
      padding: 40px 5%;
      height: auto;
    }
  }

  &__title {
    font-size: 36px;

    @include mq(sm) {
     font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 16px;

    @include mq(sm) {
      font-size: 14px;
      margin-top: 12px;
    }
  }

  &__form {
    background-color: $key-color-white;
    border-radius: 0 0 12px 12px;
    padding: 60px 120px;

    @include mq(sm) {
      padding: 40px 5%;
      height: auto;
    }
  }

  &__item {
    display: flex;
    & + & {
      margin-top: 32px;
    }

    @include mq(sm) {
      display: block;
      width: 100%;
    }
  }

  &__display {
    display: block;
  }

  &__label {
    display: inline-block;
    font-weight: bold;
    width: 130px;
    height: 40px;
    margin-right: 60px;
    line-height: 40px;
    white-space: nowrap;

    @include mq(sm) {
      width: 100%;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
      margin-bottom: 16px;
      margin-right: 0;
    }
  }

  &__required {
    &::after {
      content: "必須";
      background-color: #FF4646;
      border-radius: 2px;
      color: $key-color-white;
      margin-left: 12px;
      padding: 2px 8px;

      @include mq(sm) {
        font-size: 12px;
      }
    }
  }

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url(https://haniwaman.com/wp/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
    border: 1px solid #707070;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 178px;
    height: 40px;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-shadow: none;
      outline: none;
    }

    @include mq(sm) {
      width: 100%;
    }
  }

  &__text {
    display: inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 100%;
    max-width: 530px;

    &:focus {
      border-bottom: 1px solid #4973FF80;
      box-shadow: none;
      outline: none;
    }

    @include mq(sm) {
      padding: 0 0 5px;
    }
  }

  &__radio {
    display: none;

    +span {
      cursor: pointer;
      display: inline-block;
      margin: 0 0.2em 0;
      padding: 0 0 0 1.2em;
      position: relative;
      line-height: 40px;
    }

    +span::before {
      -webkit-transform: translateY(-50%);
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      content: "";
      display: block;
      height: 16px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
    }

    +span::after {
      -webkit-transform: translateY(-50%);
      background: #3B69FF;
      border: 1px solid transparent;
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 4px;
      opacity: 0;
      padding: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      width: 8px;
    }

    &:checked+span::after {
      opacity: 1;
    }
  }

  &__gender {
    @include mq(sm) {
      & + & {
        margin-left: 40px;
      }
    }
  }

  &__textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    height: 200px;
    padding: 0.4em 0.8em;
    width: 100%;

    :focus {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-shadow: none;
      outline: none;
    }
  }

  &__checkbox {
    display: none;

    +span {
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      margin: 0 0.2em 0;
      padding: 0 0 0 35px;
      position: relative;
    }

    +span::before {
      -webkit-transform: translateY(-50%);
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      content: "";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }

    +span::after {
      -webkit-transform: translateY(-50%) rotate(-45deg);
      border-bottom: 2px solid #3B69FF;
      border-left: 2px solid #3B69FF;
      content: "";
      display: block;
      height: 0.6em;
      left: 2px;
      margin-top: -0.2em;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      transition: all 0.3s ease 0s;
      width: 1em;
    }

    &:checked+span::after {
      opacity: 1;
    }
  }

  &__button {

    @include mq(sm) {
      width: 165px;
    margin: 0 auto;
    }
  }

  &__submit {
    -webkit-appearance: none;
    background-color: #B2B2B2;
    box-shadow: 0px 3px 5px rgba(62, 62, 62, .33);
    background-image: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 40px 0 1em;
    padding: 0.6em 2em;
    text-decoration: none;
    text-align: center;
    width: 173px;
    height: 50px;

    &:hover,
    &:focus {
      outline: none;
    }

    &::-moz-foucus-inner {
      border: none;
      padding: 0;
    }

    @include mq(sm) {
      display: inline-block;
      width: 165px;
      height: 50px;
      margin-top: 35px;
    }
  }
}