@charset "UTF-8";

/*================================================================
footer
================================================================*/
.footer {
  background-color: $key-color-black;
  color: $key-color-white;
  padding: 60px 160px;
  position: relative;

  @include mq(sm) {
    display: none;
    
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }

  &__icon {
    opacity: .6;
    font-size: 2.2em;
    margin-right: 30px;
  }

  &__text {
    opacity: .6;
    margin-top: 40px;
  }

  &__list {
    & + & {
      margin-top: 24px;
    }
  }

  &__right {
    text-align: right;
  }

  &__detail {
    color: #E3E3E3;
    font-size: 40px;
    font-weight: bold;
  }

  &__copyright {
    opacity: .6;
    padding-top: 10px;
  }

  &__arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}