@charset "UTF-8";

/*================================================================
header
================================================================*/
.header {
  background: url(../images/PC/mv.png) center center / cover;
  height: 648px;
  position: relative;

  @include mq(sm) {
    background: url(../images/PC/mv.png) center left / cover;
    width: 100%;
    height: 667px;
  }

  &__nav {
    height: 83px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: $font-family-en;

    @include mq(sm) {
      background-color: $key-color-white;
      padding: 20px 5%;
      height: 68px;
    }
  }

  &__list {
    width: 621px;
    display: flex;
    margin: 0 auto;

    @include mq(sm) {
      display: none;
    }
  }

  &__item {
    line-height: 83px;
    letter-spacing: -0.4px;
    font-size: 16px;

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
    }

    a::after {
      position: absolute;
      bottom: 18px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #3E3E3E;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform .3s;
    }

    a:hover::after {
      transform: scale(1, 1);
    }

    & + & {
      margin-left: 41px;
    }
  }

  &__name {
    font-size: 23px;
    font-weight: bold;

    @include mq(md) {
      display: none;
    }
  }

  &__box {
    position: absolute;
    top: 35%;
    left: 47%;
    margin: 0 40px;

    @include mq(sm) {
      position: static;
      padding: 155px 0 230px;
      margin: 0 5%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;

    @include mq(sm) {
      font-size: 24px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: .45px;
    margin-top: 30px;

    @include mq(sm) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 22px;
    }
  }

  &__contact {
    background-color: $key-color-orange;
    border-radius: 10px;
    color: $key-color-white;
    font-size: 18px;
    transition: .3s;
    letter-spacing: .45px;
    margin-top: 38px;
    width: 282px;
    height: 50px;

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      line-height: 50px;
    }

    &:hover {
      background-color: #F18900;
    }

    @include mq(sm) {
      font-size: 16px;
      width: 222px;
      margin: 25px auto 0;
    }
  }
}

.drawer {
  &-hamburger {
    top: 5px;
  }

  &-hamburger-icon,
  &-hamburger-icon:after,
  &-hamburger-icon:before {
    border-radius: 5px;
    height: 4px;
    width: 26px;
  }

  &-open &-hamburger-icon:after,
  &-open &-hamburger-icon:before {
    background-color: #ffffff;
  }

  &-hamburger-icon:before {
    position: absolute;
    top: -8px;
    left: 0;
    content: " ";
}

&-hamburger-icon:after {
  position: absolute;
  top: 8px;
  left: 0;
  content: " ";
}

  &-overlay {
    background-color: #3E3E3E;
    opacity: .7;
  }

  &-menu {
    font-size: 18px;
    line-height: 22px;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    text-align: center;

    &-item {
      position: relative;
      display: inline-block;
      text-decoration: none;

      &::after {
        position: absolute;
        bottom: 12px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #3E3E3E;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
}

.drawer--right.drawer-open .drawer-nav {
  width: 80%;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 80%;
}

.drawer-menu-item:hover {
  text-decoration: none;
}