@charset "UTF-8";

/*================================================================
header
================================================================*/
.header {
  background: url(../images/PC/mv.png) center center / cover;
  height: 648px;
  position: relative;

  @include mq(sm) {
    background: url(../images/PC/mv.png) center left / cover;
    width: 100%;
    height: 667px;
    // max-height: 610px;
  }

  &__nav {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: $font-family-en;

    @include mq(sm) {
      padding: 20px 5%;
      height: 68px;
    }
  }

  &__list {
    width: 650px;
    display: flex;
    margin: 0 auto;

    @include mq(sm) {
      display: none;
    }
  }

  &__item {
    line-height: 60px;

    &+& {
      margin-left: 40px;
    }
  }

  &__name {
    font-size: 23px;
    font-weight: bold;

    @include mq(md) {
      display: none;
    }
  }

  &__hamburger {
    cursor: pointer;
    display: none;
    height: 60px;
    top: 20px;
    right: 0;
    width: 60px;
    position: fixed;
    z-index: 100;

    span {
      background: $key-color-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 1s;
      height: 3px;
      width: 30px;
      position: absolute;
    }

    .header__line01 {
      transform: translate(-50%, -12px);
    }

    .header__line03 {
      transform: translate(-50%, 12px);
    }

    &.active .header__line_1 {
      transform: rotate(45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
      background: #222222;
    }

    &.active .header__line_2 {
      opacity: 0;
    }

    &.active .header__line_3 {
      transform: rotate(-45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
      background: #222222;
    }

    @include mq(sm) {
      display: block;
      height: 43px;
      right: 8px;
    }
  }

  &__box {
    position: absolute;
    top: 36%;
    left: 48%;
    margin: 0 40px;

    @include mq(sm) {
      position: static;
      padding: 161px 0 230px;
      margin: 0 5%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;

    @include mq(sm) {
      font-size: 24px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 40px;

    @include mq(sm) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__contact {
    color: $key-color-white;
    background-color: $key-color-orange;
    margin-top: 40px;
    border-radius: 10px;
    width: 282px;
    height: 50px;

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      line-height: 50px;
    }

    @include mq(sm) {
      width: 222px;
      margin: 30px auto 0;
    }
  }
}