@charset "UTF-8";

/*================================================================
header
================================================================*/
.header {
  background: url(../images/PC/mv.png) center center / cover;
  height: 648px;
  position: relative;

  @include mq(sm) {
    background: url(../images/PC/mv.png) center left / cover;
    width: 100%;
    height: 667px;
  }

  &__nav {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: $font-family-en;

    @include mq(sm) {
      padding: 20px 5%;
      height: 68px;
    }
  }

  &__list {
    width: 650px;
    display: flex;
    margin: 0 auto;

    @include mq(sm) {
      display: none;
    }
  }

  &__item {
    line-height: 60px;

    &+& {
      margin-left: 40px;
    }
  }

  &__name {
    font-size: 23px;
    font-weight: bold;

    @include mq(md) {
      display: none;
    }
  }

  &__box {
    position: absolute;
    top: 36%;
    left: 48%;
    margin: 0 40px;

    @include mq(sm) {
      position: static;
      padding: 161px 0 230px;
      margin: 0 5%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;

    @include mq(sm) {
      font-size: 24px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 40px;

    @include mq(sm) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__contact {
    color: $key-color-white;
    background-color: $key-color-orange;
    margin-top: 40px;
    border-radius: 10px;
    width: 282px;
    height: 50px;
    transition: .3s;

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      line-height: 50px;
    }

    &:hover {
      background-color: #F18900;
    }

    @include mq(sm) {
      width: 222px;
      margin: 30px auto 0;
    }
  }
}

.drawer {

  &-hamburger-icon,
  &-hamburger-icon:after,
  &-hamburger-icon:before {
    height: 3px;
  }

  &-open &-hamburger-icon:after,
  &-open &-hamburger-icon:before {
  background-color: #ffffff;
}
}

