@charset "UTF-8";

/*================================================================
news
================================================================*/
.news {
  margin-top: 120px;
  font-size: 18px;
  @extend %inner;

  @include mq(sm) {
    position: relative;
    margin-top: -60px;
    padding: 0 5%;
  }

  &__container {
    background-color: $key-color-white;
    padding: 60px 40px 40px;
    box-shadow: 0 5px 12px rgba($color: #3E3E3E, $alpha: .3) ;

    @include mq(sm) {
      padding: 40px 0;
    }
  }

  &__title {
    font-family: $font-family-en;
    font-size: 36px;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #CECDCD;

    @include mq(sm) {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }

  &__link {
    border-bottom: 1px solid #CECDCD;
    display: flex;
    height: 90px;
    align-items: center;
    position: relative;

    @include mq(sm) {
      height: auto;
      padding: 10px 0 12px 0;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 24px;
      background: url(../images/PC/news-arrow.svg) no-repeat;
      top: 50%;
      left: 98%;
      transform: translateY(-50%);
      position: absolute;

      @include mq(sm) {
        left: 92%;
      }
    }

    @include mq(sm) {
      flex-wrap: wrap;

      >p {
        padding: 0 5%;
      }
    }
  }

  &__date {
    @include mq(sm) {
      font-size: 14px;
    }
  }

  &__name {
    margin-left: 40px;
    border: 2px solid #3B69FF;
    border-radius: 50px;
    width: 121px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    @include mq(sm) {
      margin: 0;
      width: 81px;
      height: 20px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__text {
    margin-left: 40px;
    width: 60%;

    @include mq(sm) {
      width: 90%;
      margin: 10px 0 0;
      font-size: 14px;
    }
  }

  &__button {
    font-family: $font-family-en;
    font-size: 20px;
    letter-spacing: 4px;
    width: 236px;
    height: 64px;
    border: 1px solid #707070;
    margin: 40px auto 0;

    a {
      display: inline-block;
      text-align: center;
      line-height: 64px;
      width: 100%;
      height: 100%;
    }

    @include mq(sm) {
      width: 268px;
      height: 54px;
      font-size: 18px;

      a {
        line-height: 54px;
      }
    }
  }
}