@charset "UTF-8";

/*================================================================
Q&A
================================================================*/
.question {
  background: url(../images/PC/qa-bg.png)center center / cover;
  top: 117px;
  position: relative;
  width: 100%;
  height: auto;

  @include mq(sm) {
    top: 60px;
  }

  &__container {
    padding: 60px 40px 120px 40px;

    @include mq(sm) {
      padding: 40px 5% 60px;
    }
  }

  &__title {
    color: $key-color-black;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;

    @include mq(sm) {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__wrapper {
    margin-top: 60px;
    margin-left: auto;
    width: 51%;

    @include mq(sm) {
      margin-top: 40px;
      width: 100%;
    }
  }

  &__box {
    background-color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 18px 18px;

    &+& {
      margin-top: 32px;
    }

    @include mq(sm) {
      padding: 18px 5% 16px;

      &+& {
        margin-top: 20px;
      }
    }
  }

  &__definition {
    color: #3E3E3E;
    font-weight: bold;
    letter-spacing: 0.4px;
    background: url(../images/PC/plus.svg) no-repeat right;

    span {
      background: #3B69FF;
      border-radius: 50%;
      color: #FFFFFF;
      display: inline-block;
      font-weight: bold;
      font-family: Montserrat;
      font-size: 16px;
      text-align: center;
      width: 24px;
      height: 24px;
      line-height: 23px;
      margin-right: 16px;
      padding-left: 1px;
    }

    &.active {
      background: url(../images/PC/minus.svg) no-repeat right;
    }
  }

  &__description {
    background-color: #3B69FF33;
    border-radius: 4px;
    display: none;
    padding: 16px;
    margin-top: 18px;

    @include mq(sm) {
      padding: 12px 5%;
    }
  }
}