@charset "UTF-8";

/*================================================================
results
================================================================*/
.results {
  margin-top: 215px;

  @include mq(sm) {
    margin-top: 410px;
  }

  &__container {
    background-color: $key-color-black;
    margin-left: 40px;
    height: 754px;

    @include mq(sm) {
      margin-left: 0;
      height: auto;
    }
  }

  &__title {
    font-size: 36px;
    color: $key-color-white;
    font-family: $font-family-en;
    padding: 40px 0;

    @include mq(sm) {
      font-size: 30px;
      text-align: center;
    }
  }

  &__slider {
    padding: 60px 0 0 60px;

    @include mq(sm) {
      padding: 0 5% 40px;
    }
  }

  &__button {
    @extend %button-box;

    a {
      @extend %button-link;
    }

    @include mq(sm) {
      width: 100%;
      margin: 24px auto;
    }
  }
}

.swiper {

  &-container {
    height: 436px;

    @include mq(sm) {
      height: 310px;
    }
  }

  &-slide {
    width: 400px;
    height: 366px;

    @include mq(sm) {
      width: 274px;
      height: 253px;
    }
  }

  &-box {
    background-color: $key-color-white;
    width: 400px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
    }

    p {
      padding: 16px 0;
      line-height: 24px;
      padding-left: 16px;
    }

    @include mq(sm) {
      width: 274px;

      h3 {
        font-size: 14px;
        padding-top: 12px;
        padding-left: 12px;
      }

      p {
        font-size: 12px;
        padding: 12px 12px;
        line-height: 18px;
      }
    }
  }

  &-pagination {
    position: absolute;
    text-align: left;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    &:focus {
      outline: none;
    }

    &-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 100%;
      background: $key-color-white;
      opacity: 1;

      &:focus {
        outline: none;
      }

      &-active {
        position: relative;

        &::after {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          border: 1px solid white;
          border-radius: 100%;
          top: -4px;
          left: -4px;
        }
      }
    }

    @include mq(sm) {
      text-align: center;
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;

  @include mq(sm) {
    margin-right: 16px;
  }
}
