@charset "UTF-8";

/*================================================================
results
================================================================*/
.results {
  margin-top: 215px;

  @include mq(sm) {
    display: none;
    
  }

  &__container {
    background-color: $key-color-black;
    margin-left: 40px;
    height: 754px;
  }

  &__title {
    font-size: 36px;
    color: $key-color-white;
    font-family: $font-family-en;
    padding: 60px 0 0 60px;
  }

  &__slider {
    padding: 60px 0 0 60px;
  }

  &__button {
    @extend %button-box;

    a {
      @extend %button-link;
    }
  }
}

.swiper {

  &-container {
    height: 436px;
  }

  &-slide {
    width: 400px;
    height: 366px;
  }

  &-box {
    background-color: $key-color-white;
    width: 400px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
    }

    p {
      padding: 16px 0;
      line-height: 24px;
      padding-left: 16px;
    }
  }

  &-pagination {
    position: absolute;
    text-align: left;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    &:focus {
      outline: none;
    }

    &-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 100%;
      background: $key-color-white;
      opacity: 1;

      &:focus {
        outline: none;
      }

      &-active {
        position: relative;

        &::after {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          border: 1px solid white;
          border-radius: 100%;
          top: -4px;
          left: -4px;
        }
      }
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;
}
