@charset "UTF-8";

/*================================================================
service
================================================================*/
.service {
  &__container {
    background-color: $key-color-black;
    height: 400px;
    width: 100%;
    margin-top: 120px;

    @include mq(sm) {
      height: 480px;
      padding: 0 5%;
    }
  }

  &__title {
    font-size: 36px;
    font-family: $font-family-en;
    font-weight: bold;
    color: $key-color-white;
    text-align: center;
    padding: 60px 0;

    @include mq(sm) {
      font-size: 30px;
      padding: 40px 0;
    }
  }

  &__box {
    background-color: $key-color-white;
    box-shadow: 0 5px 12px rgba($color: #3E3E3E, $alpha: .3);
    max-width: 960px;
    height: 331px;
    margin: 0 auto;

    @include mq(sm) {
      height: auto;
    }
  }

  &__list {
    display: flex;
    padding: 60px 45px;

    @include mq(sm) {
      display: block;
      padding: 40px 5%;
    }
  }

  &__item {
    & + & {
      margin-left: 90px;
    }

    @include mq(sm) {
      & + & {
        margin-left: 0px;
        margin-top: 50px;
      }
    }
  }

  &__img {
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    justify-content: center;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    line-height: 28px;
    padding-top: 3px;

    @include mq(sm) {
      line-height: 24px;
    }
  }

  &__text {
    font-size: 14px;
    margin-top: 14px;
    line-height: 24px;

    @include mq(sm) {
      margin-top: 20px;
    }
  }
}