@charset "UTF-8";
/*================================================================
variables
================================================================*/
$key-color-white:#FFFFFF;
$key-color-black:#3E3E3E;
$key-color-ash:#F3F3F3;
$key-color-orange:#FFAA3B;
$key-color-blue:#4973FF;
$key-color-red:#FF4646;
$font-white:#FFFFFF;
$font-black: #3E3E3E;
$font-family-ja: 'Montserrat',
"游ゴシック体",
'Manrope',
'sans-serif';
$font-family-en: 'Montserrat',
'Manrope',
'sans-serif';
$section-title-font-size: 36px;
$hover-opacity: 0.7;
$letter-spacing: 0.04em;
