/*================================================================
application
================================================================*/
@charset "UTF-8";
@import "reset";
@import "mixin";
@import "variables";
@import "common";
@import "header";
@import "news";
@import "service";
@import "results";
@import "price";
@import "question";
@import "access";
@import "contact";
@import "footer";
// 和文フォント： 游ゴシック 英文フォント： Montserrat ※ Google Fontsを利用
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































