/*================================================================
news
================================================================*/
.news {
  margin-top: 120px;
  font-size: 18px;
  @extend %inner;

  &__container {
    background-color: $key-color-white;
    padding: 60px 40px 40px;
  }

  &__title {
    font-family: $font-family-en;
    font-size: 36px;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #CECDCD;
  }

  &__link {
    border-bottom: 1px solid #CECDCD;
    display: flex;
    height: 90px;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 22px;
      background: url(../images/PC/news-arrow-1.svg) no-repeat;
      top: 50%;
      left: 98%;
      transform: translateY(-50%);
      position: absolute;
    }

  }

  &__name {
    margin-left: 40px;
    border: 2px solid #3B69FF;
    border-radius: 50px;
    width: 121px;
    height: 30px;
    text-align: center;
  }

  &__text {
    margin-left: 40px;
    width: 60%;
  }

  &__button {
    font-family: $font-family-en;
    font-size: 20px;
    letter-spacing: 4px;
    width: 236px;
    height: 64px;
    border: 1px solid #707070;
    margin: 40px auto 0;

    a {
      display: inline-block;
      text-align: center;
      line-height: 64px;
      width: 100%;
      height: 100%;
    }
  }
}