@charset "UTF-8";

$main-white:#E5E5E5;
$bg-white: #E4F4FF;
$font-white:#FFFFFF;
$font-black: #222222;
$font-family: "Noto Sans CJK JP" , 'Noto Sans JP', sans-serif,'Manrope', 'sans-serif';
$section-title-font-size: 52px;
$hover_opacity: 0.7;
$container_width: 960px;
$letter-spacing: 0.04em;













